header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
  padding: 21px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.nav__item {
  color: #8b8e99;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.nav__item:focus {
  color: #fff;
}

.nav__images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

#navbar-responsive.open {
  left: 0;
}

.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fff;
}
